<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!!포켓몬 도감!!</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/list.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script type="text/javascript" src="/js/searchPokemon.js"></script>
    <script type="text/javascript" src="/js/getPokemonList.js" ></script>
</head>
<body>
<div id="search_box">
    <input id="pokemonName" type="text" placeholder="포켓몬 이름">
    <button id="btn_search">🔍</button>
    <button class="btn_gen" data-gen="1">1세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="2">2세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="3">3세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="4">4세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="5">5세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="6">6세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="7">7세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="8">8세대 포켓몬 출력</button>
    <button class="btn_gen" data-gen="9">9세대 포켓몬 출력</button>
</div>
<div id="pokemonBox" class="pokemonBox">
</div>
</body>
<script src="/pokemon_species_names.js" type="text/javascript"></script>
<script>
    const translator = JSON.parse(JSON.stringify(data));
    $(function(){
        // 포켓몬 한글 이름을 포켓몬 id로 반환
        let translate_KorToId = function (name_kor){
            let id = _.find(translator, function(data){
                if(data.name==name_kor){
                    return data;
                }
            });
            return id.pokemon_species_id;
        };

        getPokemonList(1,151);

        // 버튼 누르면 세대별로 포켓몬 출력
        $(document).on('click', '.btn_gen', function(){
            const ranges = [
                [1, 151],
                [152, 251],
                [252, 386],
                [387, 493],
                [494, 649],
                [650, 721],
                [722, 809],
                [810, 905],
                [906, 1010]
            ];
            const gen = $(this).data('gen');
            const range = ranges[gen - 1];
            if (range) {
                getPokemonList(range[0], range[1]);
            } else {
                console.error('Invalid generation');
            }
        });

        // 검색 이벤트
        let search_pokemon = "";
        $(document).on('click', '#btn_search', function(){
            search_pokemon = translate_KorToId(document.getElementById('pokemonName').value);
            searchPokemon(search_pokemon);
        })

    }); // 전체 function
</script>
</html>